version: '3.8'

services:
  # -------------------------------------------------------
  # SERVICE: FLOWISE (Backend)
  # -------------------------------------------------------
  flowise:
    image: flowiseai/flowise
    container_name: hygieai-brain
    restart: always
    environment:
      - PORT=3000
    # Store data one level up relative to this file to keep things clean
    volumes:
      - ../flowise_data:/root/.flowise
    ports:
      - "3000:3000"

  # -------------------------------------------------------
  # SERVICE: BACKEND (Flask API)
  # -------------------------------------------------------
  backend:
    build:
      context: ../src
      dockerfile: Dockerfile
    container_name: hygieai-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - FLOWISE_API_URL=http://flowise:3000
      - TRIAGE_ID=${TRIAGE_ID:-8643a4dc-f0c8-43d9-bcdf-a8b3e2cffc23}
      - ANALYSIS_ID=${ANALYSIS_ID:-ed48d43e-4bc7-440d-9e6c-b69a377b28a4}
    depends_on:
      - flowise

  # -------------------------------------------------------
  # SERVICE: FRONTEND (React App)
  # -------------------------------------------------------
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: hygieai-frontend
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend

  # -------------------------------------------------------
  # SERVICE: NGINX (Proxy & SSL)
  # -------------------------------------------------------
  nginx:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ../nginx_data:/data
      - ../letsencrypt:/etc/letsencrypt